* {
    box-sizing: border-box;
}

/* button styling */
.button {
    display: flexbox;
    justify-content: center;
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping to multiple rows */
    width: 400px; /* Set width to accommodate squares */
    margin: 20px auto; /* Center the grid on the page */
    gap: 1px; /* Add spacing between squares */
    margin-top: 200px;
  }
  
  .square {
    width: 10px; /* Set square size */
    height: 10px; /* Make it a square */
    /* background-color: lightblue; Add background for visibility */
    border: 1px solid black; 
    display: flex;
    justify-content: center; /* Center the "test" text horizontally */
    align-items: center; /* Center the "test" text vertically */
  
  }

  .hover {
    background-color: red;
  }
